body{
    background:linear-gradient(#3A3988, #FB9764 60vh,#D23D60, #09446E);
    min-height:100vh;
    overflow:hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --font-1: 'Engagement', cursive;
    --font-2: 'Oswald', sans-serif;
    --font-3: 'Rammetto One', cursive;
    --font-4: 'Cookie', cursive;
}
:before, 
:after{
    content:'';
    position:absolute;
}
canvas{
    position:absolute;
    top:25%;
    left:0;
}
.jd__scene,
.jd__app,
.jd__wave{
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
}
.jd__scene{
    background:url(https://i.postimg.cc/BsdvDJyH/forest-2.png)center bottom no-repeat fixed;
    z-index:-1;
}
.jd__scene img{
    position:absolute;
}
.jd__cloud1{
    width:450px;
    top:100px;
    left:0;
    transform:translateX(-100%);
    animation:move 60s linear infinite;
}
.jd__cloud2{
    width:550px;
    top:80px;
    left:0;
    transform:translateX(-100%);
    animation:move 80s linear infinite;
}
.jd__cloud3{
    width:600px;
    top:110px;
    left:0;
    transform:translateX(-100%);
    animation:move 70s linear infinite;
}
.jd__cloud4{
    width:450px;
    top:100px;
    left:0;
    transform:translateX(-100%);
    animation:move 50s linear infinite;
    animation-delay:-40s;
}
.jd__cloud5{
    width:750px;
    top:100px;
    left:0;
    transform:translateX(-100%);
    animation:move 80s linear infinite;
    animation-delay:-30s;
}
.jd__cloud6{
    width:600px;
    top:110px;
    left:0;
    transform:translateX(-100%);
    animation:move 70s linear infinite;
    animation-delay:-22s;
}
@keyframes move{
    0%{
        transform:translateX(-100%) scale(1);
    }
    0%{
        transform:translateX(calc(100vw + 100%)) scale(1.2);
    }
}
.jd__app{
    position:relative;
    z-index:100;
    background:linear-gradient(135deg, #331745 300px, transparent 301px);
    font-family:var(--font-2);
    color:#FFF;
    font-size:1em;
}
.jd__logo,
.jd__sun{
    position:absolute;
}
.jd__logo{
    width:130px;
    height:130px;
    background:#1F072E;
    border-radius:50%;
    top:80px;
    left:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.jd__logo img{
    width:100px;
}
.jd__sun{
    width:90px;
    height:90px;
    border-radius:50%;
    background:#FFDC2E;
    top:100px;
    right:100px;
    box-shadow:0 0 50px 30px rgba(255,244,94,.7);
    animation:pulse 3s ease-in-out infinite;
}
@keyframes pulse{
    0%{
        box-shadow:0 0 50px 30px rgba(255,244,94,.7);
    }
    50%{
        box-shadow:0 0 50px 30px rgba(255,244,94,1);
    }
    100%{
        box-shadow:0 0 50px 30px rgba(255,244,94,.7);
    }
}
.jd__container{
    width:728px;
    height:100vh;
    position:relative;
    margin:0 auto;
    z-index:1000;
}
.jd__inner{
    width:728px;
    height:486px;
    position:absolute;
    top:80px;
    left:0;
    background:radial-gradient(650px 650px ellipse at -100px center, #DCAC8A 620px, transparent 621px), #321644;
    display: none;
}
.jd__inner:before{
    width:75%;
    height:50px;
    background:#000;
    border-radius:50%;
    filter:blur(25px);
    left:12.5%;
    bottom:-25px;
    z-index:-1;
    display: none;
}
.jd__letter{
    width:250px;
    height:60px;
    position:absolute;
    top:120px;
    left:260px;
}
.jd__letter h2{
    font-family:var(--font-4);
    color:#321644;
    font-size:2.6em;
    font-weight:300;
}
.jd__letter span{
    display:block;
    position:absolute;
    top:35px;
}
.jd__wave{
    height:420px;
    bottom:0;
}
.jd__inner__wave{
    position:absolute;
    bottom:0;
}
@media (min-width:1280px){
    .jd__wave{
        bottom:0;
    }
}
@media (min-width:1600px){
    .jd__wave{
        bottom:-150px;
    }
}
